<div>
    <div class="modal fade" id="editCircuitComponentData" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{selectedComponentToModify.name}}</h4>
                </div>
                <div class="modal-body">
                            <form name="editCircuitComponentForm" id ="editCircuitComponent" class="css-form" ng-repeat="(key, value) in selectedComponentToModify.properties">
                                <div class='row'>
                                    <div class="form-group col-sm-3">
                                        <label>{{key}} </label>
                                        <input style="width:100px;" class="form-control" type="number" ng-model="selectedComponentToModify.properties[key]" /><br />
                                    </div>
                                </div>
                            </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-disabled="editCircuitComponentForm.$invalid" ng-click="editCircuitComponent()" value="Save" class="btn btn-default">Save</button>
                    <button type="button" ng-click="reset('selectedComponentToModify')" value="Reset" class="btn btn-default">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>