<div>
    <div id="userSettingWindow" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">User Setting</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <h5>Note: the path must be the root folder of MiniSpice, eg: 'C:\MiniSpice'</h5><br>
                        MiniSpice Path:<br>
                        <input type="text" ng-model="product.appPath" class="form-control" readonly="readonly" />
                        <input id="appPathFolder_Apsys" type="file" nwdirectory style="width:62px;border-right: 1px solid #999" />
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="" data-dismiss="modal">OK</button>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>